@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1499px;
    }
}
@media only screen and (max-width: 968px) {
    .navbar-brand{
        padding-left: 20px;
    }
    .input-group .crystall{
        width: 180px;
    }
     
  }
  @media only screen and (max-width: 1600px) {
    .section-6 h4{
        font-size: 1.5rem;
       }
       @media only screen and (max-width: 800px)
       {
        .section4 .ranking-card {
           
            /* margin-bottom: 20px; */
            /* height: 551px; */
        }
       }
       
  }
  @media only screen and (max-width: 780px){
    .section10 .bg-image2  {
      
        margin-left: 0px;
    }
    .section10 .bg-image3  {
      
        margin-left: 0px;
    }
  }
 