@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1499px;
    }
    .main_menu nav > ul > li > a {
        display: block;
        padding: 22px 12px;
        color: #565656;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 700;
        border-radius: 4px;
        transition: 0.5s;
        letter-spacing: 0.3px;
        position: relative;
    }
}
    .header_static .collapse:not(.show) {
        display: block;
    }
    

@media (max-width: 1800px) {
   
    .header_static .collapse:not(.show) {
        display: block;
    }

}
@media only screen and (max-width: 968px) {
    .navbar-brand{
        /* padding-left: 20px; */
    }
    .input-group .crystall{
        width: 180px;
    }
    .right-nav {
        margin-right: 44px;
    }
    
   
  }
  @media only screen and (max-width: 1600px) {
    .section-6 h4{
        font-size: 1.5rem;
       }
      
  }
  @media only screen and (max-width: 780px){
    .section10 .bg-image2  {
      
        margin-left: 0px;
    }
    .section10 .bg-image3  {
      
        margin-left: 0px;
    }
  }
  @media only screen and (max-width: 1583px){
    .section4  .ranking-card1 {
        border-radius: 17px;
        /* margin-bottom: 20px; */
        height: 500px;
        padding: 20px;
       }
       .section4  .ranking-card5 {
        border-radius: 17px;
        /* margin-bottom: 20px; */
        height: calc(200px - 20px);
        padding: 20px;
        height: 500px;
      
        margin-top: 20px;
       }
       .section4  .ranking-card4 {
        border-radius: 17px;
        /* margin-bottom: 20px; */
        height: 50px;
        height: calc(200px - 20px);
      
       }
       .section4  .ranking-card {
        border-radius: 17px;
        /* margin-bottom: 20px; */
        height: 700px;
       }

  }
  @media only screen and (max-width: 760px){
    /* .section4  .ranking-card1 {
        border-radius: 17px;
        height: 700px;
        padding: 20px;
       }
       .section4  .ranking-card5 {
        border-radius: 17px;
        height: calc(200px - 20px);
        padding: 20px;
        height: 700px;
      
        margin-top: 20px;
       }
       .section4  .ranking-card4 {
        border-radius: 17px;
        height: 100%;
        height: calc(200px - 20px);
      
       }
       .section4  .ranking-card {
        border-radius: 17px;
        height: 900px;
       } */
       .section3 .owl-carousel .owl-nav button.owl-next {
        position: relative;
        left: -4px;
        top: -41px;
    }
    .section3 .owl-carousel .owl-nav button {
        position: relative;
        left: 44px;
        top: -41px;
    }
    .section8 .third-carousel {
        height: auto;
        background-color: #fff;
        padding: 10px 48px;
        border-radius: 10px;
    }
    .section8 .owl-carousel .owl-item img {
        display: block;
        max-width: 150px;
        padding-left: 5px;
    }

  }
  @media only screen and (max-width: 821px){
    .section3 .owl-carousel .owl-nav button.owl-next {
        position: relative;
        left: px;
        top: -41px;
    }
  

  }


  @media only screen and (max-width: 578px){
  .section4 .card-carousel img {
    max-width: 140px;
}
.section4 .ranking-card .buds-img img {
    width: 70%;
}
.nav-link {
    text-align: center;
      font-size: 0.9rem;
      margin: 0 0px;
      color: #fff;
  }
.ranking-card1 .mask-img img {
    width: 50%;
    height: 50%;
    
}
.section3 .owl-carousel .owl-nav button.owl-next{
    position: relative;
    /* left: -36px; */
    top: -41px;   
}
.section3 .owl-carousel .owl-nav button{
position: relative;
/* left: 15px; */
top: -41px;   
}
  }
  @media only screen and (min-width: 375px) and (max-width: 1400px) {
    .navbar .collapse {
        padding-left: 0px;
    }
    /* .section10 .background-image{
       min-height: 600px;
       height:100%;
       position: relative;
       margin-bottom: 30px;
      } */
    .stats {
        display: flex;
            padding-left: 0px;
            padding-top: 10px;
    }
    .main_menu nav > ul > li > a {
        display: block;
        padding: 22px 12px;
        color: #565656;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 700;
        border-radius: 4px;
        transition: 0.5s;
        letter-spacing: 0.3px;
        position: relative;
    }
}
 


@media only screen and (max-width: 991px){
.navbar-nav{
    /* display: none; */
}
.right-nav{
    margin-right: 0px;
  }
  .header_static .collapse:not(.show) {
    display: none;
}
.header_static nav{
    position: fixed;
    flex-direction: column;
    z-index: 999;
    left: 0;
    right: 0;
    width: 250px;
    /* max-height: 100%; */
    height: auto;
    animation: top;
    background-color: #fff;
    top: 0;
    bottom: 0;
}
.main_menu nav ul li ul.mega_menu {
    /* position: absolute; */
    width: 1000px;
    height: 750px;
    padding: 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    left: 15px;
    /* right: auto; */
    right: 15px;
    /* visibility: hidden; */
    -webkit-transition: 0.15s;
    transition: 0.15s;
    z-index: 9;
    bottom: 1
    
    50px;
    /* margin-left: 187px; */
    position: absolute;
    top: 140%;
    display: flex;
}
.header_static .navbar-toggler{
    display: block;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex
  ;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 20px 0px
    
    ;
  }
  .main_menu nav ul li:hover .sub_menu, .main_menu nav ul li:hover .mega_menu {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 199px;
    right: 0;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
}

}
@media only screen and (max-width: 991px) {
    .header_static nav {
        position: fixed;
        flex-direction: column;
        z-index: 999;
        left: 0;
        /* right: 0; */
       
        width: 220px;
        /* max-height: 100%; */
        height: auto;
        background-color: #fff;
        top: 0;
        bottom: 0;
        text-align: start;
    }
     .increase-size{
        width: 550px;
        
    }
    .header_top .input-group {
        display: none;
    }
    .header_top .navbar{
        flex-wrap: nowrap;
    }
   
   
}
i.fa-regular.fa-circle-xmark {
    text-align: center;
    align-items: center;
    margin-top: 5px;
    color: red;
}

@media only screen and (max-width: 1210px){
.right-nav {
    margin-right: 4px;
}
.main_menu nav > ul > li > a {
    display: block;
    padding: 22px 23px 22px 5px;
    color: #565656;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 4px;
    transition: 0.5s;
    letter-spacing: 0.3px;
    position: relative;
}

}